@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  --font-family-mulish: "Mulish", sans-serif;
  --font-family-maven: "Maven Pro", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--PrepUp-Color-Palette-Nifty-Nude-Disabled, #fff8f3);
  color: var(--PrepUp-Color-Palette-Breezy-Blue-Pressed, #4d63b5);
}

h2 {
  font-family: var(--font-family-maven);
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  font-size: clamp(1.5rem, 0.9444rem + 2.7778vw, 3.375rem);
}

footer {
  align-items: center;

  .logo {
    margin: 0 auto;
    padding: 0;
    width: 40%;
  }
}

.nav {
  display: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
}

.intro {
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
  /* width: 40%; */
  /* margin: 0 auto 24px; */
  width: clamp(150px, 100%, 1400px);
}

.downloadBtn {
  display: flex;
  height: 54px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--PrepUp-Color-Palette-Breezy-Blue-Pressed, #4d63b5);

  a,
  a:hover {
    color: #fff;
  }

  &:hover {
    background: var(--PrepUp-Color-Palette-Breezy-Blue-Pressed, #2e4182);
  }
}

.team-bg {
  /* background: url(./images/member-bg.png); */
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: contain;

  &.dev {
    background-position: 20%;
  }

  &.designer {
    background-position: 60%;
  }
}

.member-card {
  display: inherit;
  /* flex-direction: row;
  justify-content: left;
  align-items: center;
  position: relative; */
}

.card-detail {
  /* background-color: #1a1a1a; */
  text-align: left;
  border-radius: 34px;
  /* display: flex; */
  padding: 2rem;
  /* padding-left: 11rem; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: flex-start; */
  /* gap: 14px; */
  /* flex: 1 0 0; */

  /* display: flex; */
  /* width: 89%; */
  /* align-items: left; */
  /* gap: 14px; */
  /* position: absolute;
  left: 4rem; */
  line-height: 1.5;
}

.card-profile {
  margin: 0 auto;
  width: 40%;
  position: relative;
  top: 40px;
  z-index: 1;
}

.social-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.body-link {
  display: grid;
  gap: 0.5rem;
}

/* TYPOGRAPHY */

h3 {
  &.header-title-h3 {
    /* color: var(--PrepUp-Color-Palette-Default-App-Colors-Still-Black, #1b1b1b); */
    /* Heading 1 (Bold) */
    font-family: "Maven Pro";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
    letter-spacing: -0.64px;
  }
}

h4 {
  &.header-title-h4 {
    /* color: var(--PrepUp-Color-Palette-Default-App-Colors-Still-Black, #1b1b1b); */
    /* Heading 1 (Bold) */
    font-family: "Maven Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
    letter-spacing: -0.64px;
  }
}

p {
  &.body-text-sub {
    font-family: var(--font-family-maven);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
  }

  /* &.body-text-p1 {
    text-align: center;
  } */

  &.body-text-p2 {
    /* color: var(--PrepUp-Color-Palette-Default-App-Colors-Still-Black, #1b1b1b); */
    /* Body Text (Regular) */
    font-family: var(--font-family-mulish);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &.body-text-copy {
    text-align: center;
  }
}
footer {
  p.body-text-p1 {
    text-align: center;
  }
}

.card-detail {
  .body-text-p2 {
    margin: 0.5rem 0;
  }
}

.body-link {
  /* color: var(--PrepUp-Color-Palette-Default-App-Colors-Still-Black, #1b1b1b); */
  /* Body Text (Regular) */
  /* font-family: var(--font-family-maven);
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal; */

  &.nav {
    display: none;
  }
}

/* CARD COLOR */

.card-light-yellow {
  background: var(--PrepUp-Color-Palette-Yappy-Yellow-Default, #f7c42b);
}

.card-dark-yellow {
  background: var(--PrepUp-Color-Palette-Default-App-Colors-Warning, #ffaf3d);
}

.card-pink {
  background: var(--PrepUp-Color-Palette-Fearless-Red-Disabled, #ffb0b0);
}

.card-nude {
  background: var(--PrepUp-Color-Palette-Nifty-Nude-Default, #ffead9);
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 1280px) {
  footer {
    .logo {
      margin: 0;
      padding: 0;
      width: 50%;
    }

    p.body-text-p1 {
      text-align: right;
    }
  }

  /* .nav {
    display: flex;
  } */

  .body-link {
    /* color: var(--PrepUp-Color-Palette-Default-App-Colors-Still-Black, #1b1b1b); */
    /* Body Text (Regular) */
    font-family: var(--font-family-maven);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    &.nav {
      font-size: 24px;
      font-weight: bold;
      display: flex;
    }
  }

  .card-detail {
    /* background-color: #1a1a1a; */
    text-align: left;
    border-radius: 34px;
    display: flex;
    padding: 1rem;
    padding-left: 11rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 14px; */
    flex: 1 0 0;

    /* display: flex; */
    width: 89%;
    /* align-items: left; */
    /* gap: 14px; */
    position: absolute;
    left: 4rem;
  }

  .member-card {
    /* display: flex; */
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
  }

  .card-profile {
    width: 230px;
    max-width: 100%;
    position: relative;
    top: 0;
  }

  p {
    &.body-text-p1 {
      /* color: var(--PrepUp-Color-Palette-Default-App-Colors-Still-Black, #1b1b1b); */
      /* Heading 2 (Medium) */
      font-family: var(--font-family-maven);
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &.body-text-copy {
      text-align: left;
    }
  }

  .social-link {
    display: flex;
    gap: 0.5rem;
    /* align-items: self-end; */
    align-items: stretch;
  }
}
